.venv
.env
.DS_Store
.log
*.ttl
benchmarking_outputs/onlyPhaseOne20251127_133804.xlsx
benchmarking_example/benchmarking_logs/iadopt_preprocess_20251015_141104.log
benchmarking_example/benchmarking_logs/iadopt_preprocess_20251015_142050.log
.gitignore
benchmarking_example/benchmarking_logs/iadopt_preprocess_20251015_142702.log
benchmarking_example/benchmarking_logs/iadopt_preprocess_20251015_144738.log
wikidata_cache.sqlite
.gitignore
benchmarking_example/spaCyFishing.py
*.log
!out/*.log
!out/
benchmarking_outputs/iadopt_Fexact_matrix_20251015_141144.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251015_142204.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251015_142426.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251015_143625.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251015_145001.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251015_145337.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251015_152829.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251015_155801.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251015_170533.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251015_171241.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251016_111442.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251026_160250.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251026_162254.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251026_162529.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251026_162634.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251026_162719.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251026_164013.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251026_164226.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251026_171407.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251026_172923.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251026_173553.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251026_173850.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251026_173940.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251026_174914.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251026_183323.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251027_122747.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251027_122926.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251027_123233.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251027_123505.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251027_125917.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251110_151256.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251110_153936.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251110_155933.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251111_134405.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251111_142310.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251111_143326.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251111_144349.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251111_152313.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251111_152845.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251111_161813.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251111_163033.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251111_163758.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251111_164419.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251111_165920.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251111_170146.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251111_173106.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251112_110500.xlsx
benchmarking_outputs/iadopt_Fexact_matrix_20251112_160626.xlsx
benchmarking_outputs/iadopt_metrics_20251015_142426.xlsx
benchmarking_outputs/iadopt_metrics_20251015_145001.xlsx
benchmarking_outputs/iadopt_metrics_20251015_145337.xlsx
benchmarking_outputs/iadopt_metrics_20251015_152828.xlsx
benchmarking_outputs/iadopt_metrics_20251015_155758.xlsx
benchmarking_outputs/iadopt_metrics_20251015_170532.xlsx
benchmarking_outputs/iadopt_metrics_20251015_171241.xlsx
benchmarking_outputs/iadopt_metrics_20251016_111442.xlsx
benchmarking_outputs/iadopt_metrics_20251026_160250.xlsx
benchmarking_outputs/iadopt_metrics_20251026_162254.xlsx
benchmarking_outputs/iadopt_metrics_20251026_162529.xlsx
benchmarking_outputs/iadopt_metrics_20251026_162634.xlsx
benchmarking_outputs/iadopt_metrics_20251026_162719.xlsx
benchmarking_outputs/iadopt_metrics_20251026_164013.xlsx
benchmarking_outputs/iadopt_metrics_20251026_164226.xlsx
benchmarking_outputs/iadopt_metrics_20251026_171407.xlsx
benchmarking_outputs/iadopt_metrics_20251026_172923.xlsx
benchmarking_outputs/iadopt_metrics_20251026_173552.xlsx
benchmarking_outputs/iadopt_metrics_20251026_173849.xlsx
benchmarking_outputs/iadopt_metrics_20251026_173940.xlsx
benchmarking_outputs/iadopt_metrics_20251026_174913.xlsx
benchmarking_outputs/iadopt_metrics_20251026_183321.xlsx
benchmarking_outputs/iadopt_metrics_20251027_122747.xlsx
benchmarking_outputs/iadopt_metrics_20251027_122925.xlsx
benchmarking_outputs/iadopt_metrics_20251027_123233.xlsx
benchmarking_outputs/iadopt_metrics_20251027_123505.xlsx
benchmarking_outputs/iadopt_metrics_20251027_125916.xlsx
benchmarking_outputs/iadopt_metrics_20251110_151256.xlsx
benchmarking_outputs/iadopt_metrics_20251110_153936.xlsx
benchmarking_outputs/iadopt_metrics_20251110_155933.xlsx
benchmarking_outputs/iadopt_metrics_20251111_134405.xlsx
benchmarking_outputs/iadopt_metrics_20251111_142310.xlsx
benchmarking_outputs/iadopt_metrics_20251111_143326.xlsx
benchmarking_outputs/iadopt_metrics_20251111_144349.xlsx
benchmarking_outputs/iadopt_metrics_20251111_152313.xlsx
benchmarking_outputs/iadopt_metrics_20251111_152845.xlsx
benchmarking_outputs/iadopt_metrics_20251111_161813.xlsx
benchmarking_outputs/iadopt_metrics_20251111_163033.xlsx
benchmarking_outputs/iadopt_metrics_20251111_163758.xlsx
benchmarking_outputs/iadopt_metrics_20251111_164418.xlsx
benchmarking_outputs/iadopt_metrics_20251111_165920.xlsx
benchmarking_outputs/iadopt_metrics_20251111_170146.xlsx
benchmarking_outputs/iadopt_metrics_20251111_173106.xlsx
benchmarking_outputs/iadopt_metrics_20251112_110459.xlsx
benchmarking_outputs/iadopt_metrics_20251112_160625.xlsx
benchmarking_outputs/onlyPhaseOne20251127_145716.xlsx
benchmarking_outputs/onlyPhaseOne20251207_125431.xlsx
benchmarking_outputs/onlyPhaseOne20251207_130539.xlsx
benchmarking_outputs/onlyPhaseOne20251207_233108.xlsx
benchmarking_outputs/onlyPhaseOne20251208_002157.xlsx
benchmarking_outputs/onlyPhaseOne20251208_142819.xlsx
benchmarking_outputs/onlyPhaseOne20251208_154054.xlsx
benchmarking_outputs/onlyPhaseOne20251208_182158.xlsx
benchmarking_outputs/onlyPhaseOne20251209_113322.xlsx
benchmarking_outputs/onlyPhaseOne20251209_141306.xlsx
benchmarking_outputs/onlyPhaseOne20251210_104255.xlsx
benchmarking_outputs/onlyPhaseOne20251210_110832.xlsx
benchmarking_outputs/randomShotsPhaseOne20251210_172319.xlsx
benchmarking_outputs/randomShotsPhaseOne20251210_203330.xlsx
benchmarking_outputs/randomShotsPhaseOne20251225_103831 copy.xlsx
benchmarking_outputs/randomShotsPhaseOne20251226_192545 copy.xlsx
benchmarking_outputs/randomShotsPhaseOne20251226_192545.xlsx
benchmarking_outputs/randomShotsPhaseOne20251228_061438 copy 2.xlsx
benchmarking_outputs/randomShotsPhaseOne20251228_061438 copy 3.xlsx
benchmarking_outputs/randomShotsPhaseOne20251228_061438 copy.xlsx
benchmarking_outputs/randomShotsPhaseOne20251228_061438.xlsx
benchmarking_outputs/randomShotsPhaseOne20251228_103558 copy.xlsx
benchmarking_outputs/randomShotsPhaseOne20251228_103558.xlsx
benchmarking_outputs/randomShotsPhaseOne20251230_134942.xlsx
benchmarking_outputs/randomShotsPhaseOne20251230_135722.xlsx
benchmarking_outputs/randomShotsPhaseOne20251230_140332.xlsx
benchmarking_outputs/randomShotsPhaseOne20251230_142938.xlsx
benchmarking_outputs/randomShotsPhaseOne20251230_143411.xlsx
benchmarking_outputs/randomShotsPhaseOne20251230_144925.xlsx
benchmarking_outputs/iadopt_metrics_20251112_110459.xlsx
benchmarking_outputs/iadopt_metrics_20251112_110459.xlsx
